.App{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.memeContainer span{
  position: absolute;
  font-size: 40px;
  margin-top: 10px;
  color: white;
  text-shadow: 2px 2px 0 #000000, 4px 4px 0 #000000;
  width: 100%;
  left: 0px;
  text-align: center;
}

.memeContainer span:nth-child(2) {
  margin-top: 420px;
}

.memeContainer img{
  width: 100%;
}
